# Please try and keep this file organized by alphabetical order. Single files first, then directories.

/.DS_Store
Thumbs.db
/.env
/.env.development.php
/.env.php
/docs/_build
/error_log
/auth.json
/public/error_log
/Modules

/ninja.sublime-project
/ninja.sublime-workspace
/.phpstorm.meta.php
/_ide_helper.php
/.idea

/.project
tests/_output/
tests/_bootstrap.php
tests/_support/_generated/

# composer stuff
/c3.php

_ide_helper.php
.env


Homestead.json
Homestead.yaml

/app/FaveoJob

/bootstrap/compiled.php
/bootstrap/environment.php
/config/staging
/config/development
/config/production
/config/fortrabbit
/config/ubuntu
/config/packages/anahkiasen/rocketeer/
/nbproject/private/
/node_modules
/public/logo
/public/build
/public/error_log
/public/lb-faveo/media/
/public/packages
/public/storage
/public/uploads
/public/photos/
/public/vendor
/resources/assets/bower
/storage
/storage/app/attachments
/storage/*.key
/vendor
/vendor/phpunit/phpunit/src/Util/PHP/eval-stdin.php


